@model jaramillo.cl.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Olvidaste tu Contraseña?";
}



<div class="wrapper">
    <div class="contact-wrap w-100 p-md-5 p-3">
        
        <h3>Olvidaste tu Contraseña?</h3>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h6>Ingresa tu mail para recuperar tu contraseña. Enviaremos un mail a tu correo con las instrucciones.</h6>
            <hr />

            <div class="row">
                    
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Enviar Mail" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
