@{
    ViewBag.Title = "Mensaje Enviado";

    var goBackURL = Url.Action("Login");
}



<div class="wrapper">
    <div class="contact-wrap w-100 p-md-5 p-3">
        
        <h1 class="color-orange">Mensaje Enviado</h1>

        <p>Si el mail ingresado existe, te llegara un mail con las instrucciones para restaurar tu contraseña.</p>

        <a href="@goBackURL"  class="btn btn-primary mt-3">Volver</a>

    </div>
</div>
