@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="mb-5">
    <h2 class="mb-4 ftco-animate"> 😿 Error </h2>

    <h5 class="ftco-animate">Hubo un error procesando su solicitud</h5>
</div>

