@{
    ViewBag.Title = "Contacto";
}

<div class="shadow p-4">
    <div class="mx-3 mb-3">
        
        <!-- TITULO -->
        <div class="w-max-content ftco-animate">
            <h1 class="color-orange"> @ViewBag.title </h1>
        </div>

        <p>Página en Construcción</p>
        <img src="~/Content/Images/construction_cat.jpg" />
    </div>
</div>